h1  {
    color: #000000;
}

.link-top {
    color: black!important;
}

a:hover {
    color:  #228b22 !important;
}



@media (min-width: 200px)   {
    #hero-section   {
        height: 60vh;
    }

}   

@media (min-width: 200px)     {
    #hero{
        margin-top: 6rem;
    }

    
}

@media (min-width: 992px)   {
    #hero   {
        margin-top: 10rem;
    }

    #hero-section   {
        height: 70vh;
    }

}


